<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='short icon' href='/favicon.ico' type='image/x-icon'/>
</head>
<body>

<div class="nav">
    <div class="nav_area">
        <div class="center_area">
            <div class="clearfix">
                <ul class="navigation">
                    <li class="dropdown"><a href="/" class="active">首页</a></li>
                    <li class="dropdown">
                        <a class="dropbutton" href="javascript:;">相册</a>
                        <div class="drop-content">
                            <a href="/images/webwxgetmsgimg.jpg">我</a>
                            <a href="#">家人</a>
                            <a href="#">朋友</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbutton" href="javascript:;">空间</a>
                        <div class="drop-content">
                            <a href="#">QQ空间</a>
                            <a href="#">VR空间</a>
                            <a href="#">虚拟空间</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbutton" href="javascript:;">留言</a>
                        <div class="drop-content">
                            <a href="#" target="_blank">Sina Weibo</a>
                            <a href="#" target="_blank">ChatOnline</a>
                            <a href="#" target="_blank">Facebook</a>
                        </div>
                    </li>
                    <li class="lastchild" style="float:right"><a href="/reg">注册</a></li>
                    <li class="lastchild" style="float:right"><a href="/login">登陆</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div>
    <h1 class="head1">Welcome to Mysite!</h1>
    <p>没有帐号？<a href="/reg">Click here!</a></p>
</div>
<div id="container" class="container">
    <div class="main-content"></div><hr/>
    <footer>
        <p><a href="http://www.knight.com" target="_blank">ByKnight </a>&copy 2018</p>
    </footer>
</div>

</body>
</html>
